Repository glamod/cdm_reader_mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, cdm_mapper, common, mdf_reader, metmetpy, operations, information, license, zenodo, release

use default decimal places from properties
  cdm_reader_mapper/cdm_mapper/mapper.py
Labels: cdm_mapper

fixing pre-commit hooks
  cdm_reader_mapper/cdm_mapper/table_writer.py
Labels: cdm_mapper

adding more writer tests
  tests/_testing_cdm_suite.py
  tests/test_writers.py
Labels: none

use more utility functions
  cdm_reader_mapper/cdm_mapper/_utilities.py
  cdm_reader_mapper/cdm_mapper/table_writer.py
Labels: cdm_mapper

remove parse_dates
  cdm_reader_mapper/cdm_mapper/_mappings.py
Labels: cdm_mapper

cdm_to_ascii -> write_tables
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/core/cdm_class.py
  tests/_testing_cdm_suite.py
Labels: none

remove return statement
  cdm_reader_mapper/cdm_mapper/table_reader.py
Labels: cdm_mapper

select table_name
  cdm_reader_mapper/cdm_mapper/table_writer.py
Labels: cdm_mapper

add breaking changes
  CHANGES.rst
Labels: docs, information

combine two reader loops into one
  cdm_reader_mapper/cdm_mapper/table_reader.py
Labels: cdm_mapper

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

delete syntax errors
  cdm_reader_mapper/cdm_mapper/mapper.py
Labels: cdm_mapper

remove TextFileReader elements from main
  cdm_reader_mapper/cdm_mapper/_mappings.py
Labels: cdm_mapper

Update tests/_testing_cdm_suite.py
  tests/_testing_cdm_suite.py
Labels: none

Update tests/_testing_cdm_suite.py
  tests/_testing_cdm_suite.py
Labels: none

syntax error
  tests/_testing_cdm_suite.py
Labels: none

adjust to CDM
  tests/test_writers.py
Labels: none

delete unused imports
  tests/test_writers.py
Labels: none

import CDM
  cdm_reader_mapper/__init__.py
Labels: none

directly call CDM with data
  cdm_reader_mapper/core/cdm_class.py
Labels: none

rename test_cdm to test_workflow
  tests/_testing_workflow_suite.py
  tests/test_workflow.py
Labels: none

gather utility functions
  tests/_utilities.py
Labels: none

testing CDM
  tests/test_cdm.py
  tests/test_operations.py
Labels: none

new CDM methods: add, merge, append, copy
  cdm_reader_mapper/core/cdm_class.py
  tests/test_cdm.py
Labels: none

rename: append -> stack_v, merge -> stack_h
  cdm_reader_mapper/core/cdm_class.py
  tests/test_cdm.py
Labels: none

rename: CDM -> DataBundle
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/core/__init__.py
  cdm_reader_mapper/core/databundle.py
  tests/test_databundle.py
Labels: none

rename: DataBundle.cdm -> DataBundle.tables
  cdm_reader_mapper/core/databundle.py
  tests/_testing_workflow_suite.py
  tests/test_databundle.py
  tests/test_duplicates.py
  tests/test_operations.py
  tests/test_writers.py
Labels: none

more renames
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/mdf_reader/read.py
  tests/_duplicates.py
Labels: cdm_mapper, mdf_reader

typo
  cdm_reader_mapper/cdm_mapper/table_reader.py
Labels: cdm_mapper

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

remove doubled entries
  CHANGES.rst
Labels: docs, information

add docstrings
  cdm_reader_mapper/core/databundle.py
Labels: none

more documentation
  CHANGES.rst
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/duplicates/duplicates.py
  cdm_reader_mapper/mdf_reader/read.py
  docs/api.rst
  docs/conf.py
  docs/index.rst
Labels: docs, cdm_mapper, mdf_reader, information

delete unused variable
  cdm_reader_mapper/cdm_mapper/table_reader.py
Labels: cdm_mapper

no hdlr
  cdm_reader_mapper/metmetpy/datetime/validate.py
  cdm_reader_mapper/metmetpy/station_id/validate.py
Labels: metmetpy

delete more TextFileReaders
  cdm_reader_mapper/mdf_reader/read.py
  tests/_testing_workflow_suite.py
  tests/test_operations.py
Labels: mdf_reader

import from workflow_suite
  tests/test_workflow.py
Labels: none

getting started
  README.rst
  docs/index.rst
Labels: docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'README.rst'
      - 'CHANGES.rst'

'cdm_mapper':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/cdm_mapper/*.py'
      - 'cdm_reader_mapper/cdm_mapper/**/*.py'
      - 'cdm_reader_mapper/cdm_mapper/codes/**/*.json'
      - 'cdm_reader_mapper/cdm_mapper/tables/**/*.json'

'common':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/common/*.py'

'mdf_reader':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/mdf_reader/*.py'
      - 'cdm_reader_mapper/mdf_reader/**/*.py'
      - 'cdm_reader_mapper/mdf_reader/code_tables/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/schema/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/utils/*.py'

'metmetpy':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/metmetpy/properties.py'
      - 'cdm_reader_mapper/metmetpy/**/*.py'

'operations':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/operations/*.py'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGES.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
