Repository glamod/cdm_reader_mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, cdm_mapper, common, mdf_reader, metmetpy, operations, information, license, zenodo, release

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'README.rst'
      - 'CHANGES.rst'

'cdm_mapper':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/cdm_mapper/*.py'
      - 'cdm_reader_mapper/cdm_mapper/**/*.py'
      - 'cdm_reader_mapper/cdm_mapper/codes/**/*.json'
      - 'cdm_reader_mapper/cdm_mapper/tables/**/*.json'

'common':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/common/*.py'

'mdf_reader':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/mdf_reader/*.py'
      - 'cdm_reader_mapper/mdf_reader/**/*.py'
      - 'cdm_reader_mapper/mdf_reader/code_tables/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/schema/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/utils/*.py'

'metmetpy':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/metmetpy/properties.py'
      - 'cdm_reader_mapper/metmetpy/**/*.py'

'operations':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/operations/*.py'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGES.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

delete print statement
  cdm_reader_mapper/mdf_reader/read.py
Labels: mdf_reader

add changes
  CHANGES.rst
Labels: docs, information

replcae len(df) with df.empty
  tests/_testing_workflow_suite.py
Labels: none

update docs
  cdm_reader_mapper/core/databundle.py
  docs/api.rst
Labels: docs

add changes
  CHANGES.rst
Labels: docs, information

delete TestFileReader from write_data
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader

update indentation
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader

update more indentation
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader
