Repository glamod/cdm_reader_mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, cdm_mapper, common, mdf_reader, metmetpy, operations, information, license, zenodo, release

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'README.rst'
      - 'CHANGES.rst'

'cdm_mapper':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/cdm_mapper/*.py'
      - 'cdm_reader_mapper/cdm_mapper/**/*.py'
      - 'cdm_reader_mapper/cdm_mapper/codes/**/*.json'
      - 'cdm_reader_mapper/cdm_mapper/tables/**/*.json'

'common':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/common/*.py'

'mdf_reader':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/mdf_reader/*.py'
      - 'cdm_reader_mapper/mdf_reader/**/*.py'
      - 'cdm_reader_mapper/mdf_reader/code_tables/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/schema/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/utils/*.py'

'metmetpy':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/metmetpy/properties.py'
      - 'cdm_reader_mapper/metmetpy/**/*.py'

'operations':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/operations/*.py'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGES.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

delete unused docu
  docs/cdm_latest.pdf
  docs/metmetpy/User_manual.docx
  docs/metmetpy/construct_monthly_files_flow.txt
  docs/metmetpy/how_we_python_it.txt
Labels: docs

getting started
  README.rst
  docs/index.rst
Labels: docs

update reader
  docs/tool-overview_reader.rst
Labels: docs

write data model to test data
  cdm_reader_mapper/data/__init__.py
Labels: none

update docs
  docs/data-models.rst
  docs/getting-started.rst
Labels: docs

update caption
  docs/index.rst
Labels: docs

undo
  cdm_reader_mapper/data/__init__.py
Labels: none

update
  docs/getting-started.rst
Labels: docs

update notebooks
  docs/example_notebooks/CDM_mapper_example_deck704.ipynb
  docs/example_notebooks/CLIWOC_datamodel.ipynb
  docs/example_notebooks/mdf_reader_test_overview.ipynb
Labels: docs

properties
  docs/example_notebooks/CLIWOC_datamodel.ipynb
  docs/example_notebooks/mdf_reader_test_overview.ipynb
Labels: docs

remove unused pictures
  docs/figures/c99differences.png
  docs/figures/cdm_704.png
  docs/figures/code_tables_schema_one.png
  docs/figures/code_tables_schema_two.png
  docs/figures/deckschema.png
  docs/figures/elements.png
  docs/figures/new_schema.png
  docs/figures/schema.png
Labels: docs

private method
  cdm_reader_mapper/duplicates/duplicates.py
  docs/api.rst
Labels: docs

set properties
  cdm_reader_mapper/core/databundle.py
Labels: none

update API references
  docs/api.rst
Labels: docs

setter for some properties
  cdm_reader_mapper/core/databundle.py
  tests/_testing_workflow_suite.py
Labels: none

delete line breaks
  cdm_reader_mapper/duplicates/duplicates.py
Labels: none

cross.references
  cdm_reader_mapper/core/databundle.py
Labels: none

more cross-references
  cdm_reader_mapper/cdm_mapper/mapper.py
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/cdm_mapper/table_writer.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/duplicates/duplicates.py
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/metmetpy/datetime/correct.py
  cdm_reader_mapper/metmetpy/platform_type/correct.py
  cdm_reader_mapper/operations/inspect.py
  docs/conf.py
  docs/tool-overview_mapper.rst
Labels: docs, cdm_mapper, mdf_reader, metmetpy, operations

remove autosummary templates
  docs/conf.py
Labels: docs

add changes
  CHANGES.rst
Labels: docs, information

simplify columns
  cdm_reader_mapper/core/databundle.py
Labels: none

re-adding CDM docu
  docs/cdm_latest.pdf
Labels: docs

update mapping docu
  docs/tool-overview_mapper.rst
Labels: docs

update data model docu
  docs/cdm-tables-mapping-files-and-descriptors.rst
  docs/data-models.rst
Labels: docs

rename notebook
  docs/example_notebooks/read_overview.ipynb
  docs/index.rst
Labels: docs

rename captions
  docs/index.rst
  docs/tool-overview_databundle.rst
  docs/tool-overview_mapper.rst
  docs/tool-overview_reader.rst
Labels: docs

start DataBundel docu
  cdm_reader_mapper/core/databundle.py
  docs/tool-overview_databundle.rst
Labels: docs

rename
  docs/api.rst
  docs/how-to-read-csv.rst
  docs/index.rst
  docs/tool-overview-databundle.rst
  docs/tool-overview-mapper.rst
  docs/tool-overview-reader.rst
Labels: docs

more cross-references
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/cdm_mapper/table_writer.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/mdf_reader/read.py
Labels: cdm_mapper, mdf_reader

add more hyperlinks#ä
  docs/api.rst
  docs/hyperlinks.rst
  docs/tool-overview-databundle.rst
  docs/tool-overview-mapper.rst
  docs/tool-overview-reader.rst
Labels: docs

typo
  docs/tool-overview-databundle.rst
Labels: docs

_tables to _data
  cdm_reader_mapper/core/databundle.py
Labels: none

rename variables in testing sutie
  tests/test_writers.py
Labels: none

make DataBundle subscriptable
  cdm_reader_mapper/core/databundle.py
Labels: none

update figures
  docs/_static/images/cdm_mapper_diagram.svg
  docs/_static/images/mdf_reader_diagram.svg
Labels: docs

add new figures
  docs/tool-overview-mapper.rst
  docs/tool-overview-reader.rst
Labels: docs

minor revisions
  docs/getting-started.rst
  docs/tool-overview-databundle.rst
Labels: docs

add changes
  CHANGES.rst
Labels: docs, information

add sphinx-book-theme
  ci/requirements/docs.yml
Labels: none

Use sphinx_book_theme
  docs/conf.py
Labels: docs
