Repository glamod/cdm_reader_mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, cdm_mapper, common, mdf_reader, metmetpy, operations, information, license, zenodo, release

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'README.rst'
      - 'CHANGES.rst'

'cdm_mapper':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/cdm_mapper/*.py'
      - 'cdm_reader_mapper/cdm_mapper/**/*.py'
      - 'cdm_reader_mapper/cdm_mapper/codes/**/*.json'
      - 'cdm_reader_mapper/cdm_mapper/tables/**/*.json'

'common':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/common/*.py'

'mdf_reader':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/mdf_reader/*.py'
      - 'cdm_reader_mapper/mdf_reader/**/*.py'
      - 'cdm_reader_mapper/mdf_reader/code_tables/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/schema/**/*.json'
      - 'cdm_reader_mapper/mdf_reader/utils/*.py'

'metmetpy':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/metmetpy/properties.py'
      - 'cdm_reader_mapper/metmetpy/**/*.py'

'operations':
  - changed-files:
    - any-glob-to-any-file:
      - 'cdm_reader_mapper/operations/*.py'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGES.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

no need for sphinx-codeautolink
  ci/requirements/docs.yml
Labels: none

no need for sphinx-codeautolink
  docs/conf.py
Labels: docs

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

reduce complexity
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/validate.py
Labels: mdf_reader

any in function
  cdm_reader_mapper/mdf_reader/validate.py
Labels: mdf_reader

get element from dict
  cdm_reader_mapper/mdf_reader/validate.py
Labels: mdf_reader

returns elf
  cdm_reader_mapper/mdf_reader/read.py
Labels: mdf_reader

typo
  cdm_reader_mapper/mdf_reader/validate.py
Labels: mdf_reader

reduce complexity: _mappings
  cdm_reader_mapper/cdm_mapper/_mappings.py
Labels: cdm_mapper

split if statements
  cdm_reader_mapper/metmetpy/station_id/validate.py
Labels: metmetpy

reduce complexity: metmetpy.station_id.validate
  cdm_reader_mapper/metmetpy/station_id/validate.py
Labels: metmetpy

reduce complexity: decoders
  cdm_reader_mapper/mdf_reader/utils/decoders.py
Labels: mdf_reader

make copy of tables
  tests/test_operations.py
Labels: none

restructure self methods
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/utils/auxiliary.py
Labels: mdf_reader

split mdf_reader.utils.auxiliary
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/utils/auxiliary.py
  cdm_reader_mapper/mdf_reader/utils/configurator.py
  cdm_reader_mapper/mdf_reader/utils/filereader.py
  cdm_reader_mapper/mdf_reader/utils/utilities.py
Labels: mdf_reader

minor revisions
  cdm_reader_mapper/mdf_reader/utils/configurator.py
  cdm_reader_mapper/mdf_reader/utils/filereader.py
Labels: mdf_reader

add chnages
  CHANGES.rst
Labels: docs, information

remove unused imports
  cdm_reader_mapper/mdf_reader/read.py
Labels: mdf_reader

make copy
  tests/test_operations.py
Labels: none

solving pylint issues
  cdm_reader_mapper/mdf_reader/utils/filereader.py
Labels: mdf_reader

don not save attributes
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/mdf_reader/read.py
Labels: mdf_reader

new function: write_mdf
  cdm_reader_mapper/mdf_reader/utils/filereader.py
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader

new common function: get_filename
  cdm_reader_mapper/cdm_mapper/table_writer.py
  cdm_reader_mapper/common/io_files.py
  tests/_testing_workflow_suite.py
Labels: cdm_mapper, common

new common function: get_filename
  cdm_reader_mapper/cdm_mapper/_utilities.py
  cdm_reader_mapper/common/__init__.py
Labels: cdm_mapper, common

more references
  cdm_reader_mapper/cdm_mapper/table_reader.py
Labels: cdm_mapper

new function write_mdf in DataBundle method functions
  cdm_reader_mapper/core/databundle.py
Labels: none

remove out_path from testing orkflow
  tests/_testing_workflow_suite.py
  tests/test_workflow.py
Labels: none

rename: write_mdf to write_data
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/cdm_mapper/table_writer.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/write.py
Labels: cdm_mapper, mdf_reader

parse_dates to docu
  docs/api.rst
Labels: docs

delete unused function
  tests/_utilities.py
Labels: none

update testing suite
  tests/_testing_workflow_suite.py
  tests/test_databundle.py
  tests/test_workflow.py
Labels: none

read inforamtion from cdm-testdata
  tests/_results.py
Labels: none

branch: update_output
  cdm_reader_mapper/common/getting_files.py
Labels: common

use only dtypes for available columns only
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader

test try statement
  tests/_results.py
Labels: none

update gcc result names
  tests/_results.py
Labels: none

rename some input and result data
  cdm_reader_mapper/data/__init__.py
  tests/_results.py
Labels: none

update read_data and write_data
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader

update workflow tests
  tests/_testing_workflow_suite.py
Labels: none

switch to testdata main branch again
  cdm_reader_mapper/common/getting_files.py
Labels: common
