Repository glamod/cdm_reader_mapper, pull requests merged in 2024-10, with the labels that each got.

#103 Standardize inputs for main functions
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/mapper.py
  cdm_reader_mapper/mdf_reader/codes/codes.py
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/schemas/schemas.py
  cdm_reader_mapper/mdf_reader/utils/auxiliary.py
  cdm_reader_mapper/mdf_reader/validate.py
  cdm_reader_mapper/metmetpy/datetime/correct.py
  cdm_reader_mapper/metmetpy/datetime/validate.py
  cdm_reader_mapper/metmetpy/platform_type/correct.py
  cdm_reader_mapper/metmetpy/station_id/validate.py
  tests/_data.py
  tests/_testing_cdm_suite.py
  tests/test_cdm.py
Labels: cdm_mapper, mdf_reader, metmetpy

#104 adjustments to operations
  CHANGES.rst
  cdm_reader_mapper/operations/__init__.py
  cdm_reader_mapper/operations/corrections.py
  tests/_data.py
  tests/_results.py
  tests/_testing_cdm_suite.py
  tests/corrections/2022-02.txt.gz
  tests/corrections/2022-02.txt_old.gz
  tests/results/data_063_714.csv
  tests/results/header-test.psv
  tests/results/observations-at-test.psv
  tests/results/observations-dpt-test.psv
  tests/results/observations-slp-test.psv
  tests/results/observations-sst-test.psv
  tests/results/observations-wbt-test.psv
  tests/results/observations-wd-test.psv
  tests/results/observations-ws-test.psv
  tests/test_operations.py
Labels: operations

#105 Fixes for code_tables for external schema and update jupyter notebooks
  CHANGES.rst
  cdm_reader_mapper/mdf_reader/codes/codes.py
  cdm_reader_mapper/mdf_reader/utils/auxiliary.py
  cdm_reader_mapper/mdf_reader/validate.py
  docs/example_notebooks/CDM_mapper_example_deck704.ipynb
  docs/example_notebooks/CLIWOC_datamodel.ipynb
  docs/example_notebooks/create_data_model.ipynb
  docs/example_notebooks/mdf_reader_test_overview.ipynb
Labels: docs, mdf_reader

#111 adding tests for external table paths
  CHANGES.rst
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/schemas/schemas.py
  cdm_reader_mapper/mdf_reader/utils/auxiliary.py
  tests/test_cdm.py
Labels: mdf_reader

#112 make some adjustments to duplicate check
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/duplicates.py
  tests/test_duplicates.py
Labels: cdm_mapper

#115 optional: ignore columns during duplicate check
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/duplicates.py
  docs/api.rst
  tests/test_duplicates.py
Labels: docs, cdm_mapper

#121 setting default primary_station_id_scheme value to ``4``
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/tables/craid/header.json
Labels: cdm_mapper

#110 Update readme
  CHANGES.rst
  README.rst
  cdm_reader_mapper/mdf_reader/schemas/icoads/r300/d730/icoads_r300_d730.json
  docs/example_notebooks/CDM_mapper_example_deck704.ipynb
  docs/example_notebooks/CLIWOC_datamodel.ipynb
  docs/example_notebooks/create_data_model.ipynb
  docs/example_notebooks/mdf_reader_test_overview.ipynb
  docs/index.rst
Labels: docs

#69 change license to Apache 2.0 license
  .zenodo.json
  CHANGES.rst
  LICENSE
Labels: license

#122 add fossa action
  .github/workflows/ci.yml
Labels: CI

#123 fixing pre-commit
  .github/workflows/ci.yml
Labels: CI

#119 do some duplicate check adjustments
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/_duplicate_settings.py
  cdm_reader_mapper/cdm_mapper/duplicates.py
  tests/_duplicates.py
  tests/test_duplicates.py
Labels: cdm_mapper

#125 do not consider indexes of nan values while transforming
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/mapper.py
Labels: cdm_mapper

#128 first release on pypi
  README.rst
Labels: docs

#129 License scaning: use ubuntu-latest
  .github/workflows/ci.yml
Labels: CI

#131 FOSSA-API-KEY
  .github/workflows/ci.yml
Labels: CI

#132 comment license scanning
  .github/workflows/ci.yml
Labels: CI

#133 delete license scanning from ci.yml
  .github/workflows/ci.yml
Labels: CI

#134 set repo status to active
  README.rst
Labels: docs

#139 install requirements
  .github/workflows/publish-pypi.yml
Labels: CI
