Repository glamod/cdm_reader_mapper, pull requests merged in 2025-03, with the labels that each got.

#246 "xclim" -> "cdm_reader_mapper" in pyproject.toml
  pyproject.toml
Labels: release

#238 Remove DataBundle.tables; instead overwrite DataBundle.data and use new property mode
  CHANGES.rst
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/cdm_mapper/reader.py
  cdm_reader_mapper/cdm_mapper/writer.py
  cdm_reader_mapper/core/__init__.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/core/reader.py
  cdm_reader_mapper/core/writer.py
  cdm_reader_mapper/duplicates/duplicates.py
  cdm_reader_mapper/mdf_reader/reader.py
  cdm_reader_mapper/mdf_reader/writer.py
  cdm_reader_mapper/metmetpy/correct.py
  cdm_reader_mapper/metmetpy/datetime/correction_functions.py
  cdm_reader_mapper/metmetpy/datetime/icoads/icoads.json
  cdm_reader_mapper/metmetpy/datetime/model_datetimes.py
  cdm_reader_mapper/metmetpy/platform_type/correction_functions.py
  cdm_reader_mapper/metmetpy/platform_type/gcc/gcc.json
  cdm_reader_mapper/metmetpy/platform_type/icoads/r300/icoads_r300.json
  cdm_reader_mapper/metmetpy/platform_type/icoads/r302/icoads_r302.json
  cdm_reader_mapper/metmetpy/station_id/icoads/r300/icoads_r300.json
  cdm_reader_mapper/metmetpy/validate.py
  docs/_static/images/cdm_mapper_diagram.svg
  docs/api.rst
  docs/data-models.rst
  docs/getting-started.rst
  docs/hyperlinks.rst
  docs/index.rst
  docs/tool-overview-databundle.rst
  docs/tool-overview-mapper.rst
  docs/tool-overview-reader.rst
  tests/_duplicates.py
  tests/_results.py
  tests/_testing_workflow_suite.py
  tests/test_databundle.py
  tests/test_duplicates.py
  tests/test_operations.py
  tests/test_writers.py
Labels: docs, cdm_mapper, common, mdf_reader, metmetpy, information

#248 Build ``cdm_reader_mapper`` consistent to ``pandas``
  CHANGES.rst
  cdm_reader_mapper/common/select.py
  cdm_reader_mapper/core/databundle.py
  docs/tool-overview-databundle.rst
  docs/tool-overview-mapper.rst
  tests/_testing_workflow_suite.py
  tests/test_databundle.py
  tests/test_duplicates.py
  tests/test_operations.py
  tests/test_pandas.py
  tests/test_writers.py
Labels: docs, common, information
