Repository glamod/cdm_reader_mapper, pull requests merged in 2025-08, with the labels that each got.

#291 Fix checksum missmatch
  CHANGES.rst
  tests/_results.py
  tests/_testing_workflow_suite.py
Labels: docs, information

#294 Jan willruth patch 1
  .yamllint.yaml
  LICENSE
  pyproject.toml
Labels: CI, license, release

#295 new mapping fucntion to combine ICOADS d701 type1 and type2
  CHANGES.rst
  cdm_reader_mapper/cdm_mapper/tables/icoads/r300/d701/header.json
  cdm_reader_mapper/cdm_mapper/tables/icoads/r300/d701/observations.json
  cdm_reader_mapper/cdm_mapper/tables/icoads/r300/d701/type1/__init__.py
  cdm_reader_mapper/cdm_mapper/tables/icoads/r300/d701/type1/header.json
  cdm_reader_mapper/cdm_mapper/utils/mapping_functions.py
  cdm_reader_mapper/data/__init__.py
  tests/_results.py
  tests/test_workflow.py
Labels: enhancement, docs, cdm_mapper, common, information
