Repository glamod/cdm_reader_mapper, pull requests merged in 2025-01, with the labels that each got.

#197 Update documentation
  CHANGES.rst
  README.rst
  cdm_reader_mapper/cdm_mapper/mapper.py
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/cdm_mapper/table_writer.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/duplicates/duplicates.py
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/metmetpy/datetime/correct.py
  cdm_reader_mapper/metmetpy/platform_type/correct.py
  cdm_reader_mapper/operations/inspect.py
  docs/_static/images/cdm_mapper_diagram.svg
  docs/_static/images/mdf_reader_diagram.svg
  docs/api.rst
  docs/cdm-tables-mapping-files-and-descriptors.rst
  docs/conf.py
  docs/data-models.rst
  docs/example_notebooks/CDM_mapper_example_deck704.ipynb
  docs/example_notebooks/CLIWOC_datamodel.ipynb
  docs/example_notebooks/read_overview.ipynb
  docs/figures/c99differences.png
  docs/figures/cdm_704.png
  docs/figures/code_tables_schema_one.png
  docs/figures/code_tables_schema_two.png
  docs/figures/deckschema.png
  docs/figures/elements.png
  docs/figures/new_schema.png
  docs/figures/schema.png
  docs/getting-started.rst
  docs/how-to-read-csv.rst
  docs/hyperlinks.rst
  docs/index.rst
  docs/metmetpy/User_manual.docx
  docs/metmetpy/construct_monthly_files_flow.txt
  docs/metmetpy/how_we_python_it.txt
  docs/tool-overview-databundle.rst
  docs/tool-overview-mapper.rst
  docs/tool-overview-reader.rst
  docs/tool-overview_mapper.rst
  docs/tool-overview_metmetpy.rst
  tests/_testing_workflow_suite.py
  tests/test_writers.py
Labels: docs, cdm_mapper, mdf_reader, metmetpy, operations, information

#201 New functions: ``read_data`` and ``write_data``
  CHANGES.rst
  cdm_reader_mapper/__init__.py
  cdm_reader_mapper/cdm_mapper/_utilities.py
  cdm_reader_mapper/cdm_mapper/table_reader.py
  cdm_reader_mapper/cdm_mapper/table_writer.py
  cdm_reader_mapper/common/__init__.py
  cdm_reader_mapper/common/io_files.py
  cdm_reader_mapper/core/databundle.py
  cdm_reader_mapper/data/__init__.py
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/utils/filereader.py
  cdm_reader_mapper/mdf_reader/write.py
  docs/api.rst
  tests/_results.py
  tests/_testing_workflow_suite.py
  tests/_utilities.py
  tests/test_databundle.py
  tests/test_workflow.py
Labels: docs, cdm_mapper, common, mdf_reader, information

#192 Some code tidy-ups
  cdm_reader_mapper/cdm_mapper/table_reader.py
Labels: cdm_mapper, structure

#208 Configurator refactor
  CHANGES.rst
  cdm_reader_mapper/mdf_reader/utils/configurator.py
  cdm_reader_mapper/mdf_reader/utils/filereader.py
Labels: docs, mdf_reader, information

#210 delete unused lines
  CHANGES.rst
  cdm_reader_mapper/mdf_reader/utils/configurator.py
Labels: docs, mdf_reader, information

#216 Do not create an extra validation pre-mask while reading MDF data
  CHANGES.rst
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/utils/configurator.py
  cdm_reader_mapper/mdf_reader/utils/converters.py
  cdm_reader_mapper/mdf_reader/utils/decoders.py
  cdm_reader_mapper/mdf_reader/utils/filereader.py
  cdm_reader_mapper/mdf_reader/utils/utilities.py
  cdm_reader_mapper/mdf_reader/utils/validators.py
Labels: docs, mdf_reader, information

#214 delete encoding cp1252 from icoads_d300_r721 schema
  CHANGES.rst
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/schemas/icoads/r300/d721/icoads_r300_d721.json
  cdm_reader_mapper/mdf_reader/utils/converters.py
  tests/test_operations.py
Labels: docs, common, mdf_reader, information

#218 minor adjustments to read data with parameters are False
  cdm_reader_mapper/mdf_reader/read.py
  cdm_reader_mapper/mdf_reader/write.py
Labels: mdf_reader
